.DS_Store

# Ignore login detail resource
resources/Login_details.robot

# Test generated content
*.png
output.xml
report.html
log.html
geckodriver.log

# IntelliJ Idea
.idea

.project
.settings/
.classpath
