.DS_Store

# Test generated content
*.png
output.xml
report.html
log.html
geckodriver.log
*.webm
interactive_console_output.xml

# python generated content
*.pyc

# Selenium webdrivers
chromedriver.exe
geckodriver.exe

# IntelliJ Idea
.idea

.project
.settings/
.classpath
reports
test_reports

# python virtual environment
env

# secrets
.env